@font-face {
  font-family: "Roboto Slab";
  src: url(RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto-Regular.ttf);
}

.main-header { 
  position: fixed;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
}

.logo > div {
  max-height: 200px;
  font-size: 16px;
}

.navbar { 
  font-size: 22px;
  color: #fbca00;
  font-family: "Roboto Slab";
  min-height: 50px;
}

.navbar-custom-menu .navbar-nav > li > a {
  padding-top: 14px;
  padding-bottom: 14px;
}

h1 {
  font-family: "Roboto Slab";
}

p, a, h3 {
  font-family: "Roboto";
}

.box,
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #fbca00;
}

.box-title, .box-body, .box-footer, .control-label, .main-footer {
  font-family: "Roboto";
}

a.sidebar-toggle {
  display: none;
}

.content { 
  margin-top: 50px;
  font-family: "Roboto";
}

@media screen and (max-width: 768px) {

  .logo > div {
  	font-size: 14px;
  }

  .navbar-custom-menu-ove {
  	display: none;
  }

  a.sidebar-toggle {
    display: block;
    min-height: 50px;
  }

  .main-header .sidebar-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content { 
    margin-top: 100px;
    font-family: "Roboto";
  }

}

.sidebar { 
  position: fixed; 
  width: 220px; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto";
}

.control-sidebar { 
  position: fixed;
}


hr {border-top: 1px solid #fbca00;}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li > a {
    color: #ffffff;
}

.sidebar-menu .treeview-menu-custom {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.sidebar-menu .treeview-menu-custom .treeview-menu-custom {
  padding-left: 20px;
}
.sidebar-menu .treeview-menu-custom > li {
  margin: 0;
}
.sidebar-menu .treeview-menu-custom > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  font-family: "Roboto";
  color: #ffffff;
}

.sidebar-menu .treeview-menu-custom > li > a > .fa,
.sidebar-menu .treeview-menu-custom > li > a > .glyphicon,
.sidebar-menu .treeview-menu-custom > li > a > .ion {
  width: 20px;
}

.skin-blue .sidebar-menu > li > .treeview-menu-custom {
  margin: 0 1px;
  background: #353535;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li > a:hover,
.skin-blue .treeview-menu-custom > li.active > a,
.skin-blue .treeview-menu-custom > li > a:hover {
  color: #fbca00;
}

.skin-blue .main-header .logo {
  align-self: left;
  background: #353535;
}

.skin-blue .main-header .logo:hover {
  background: #353535;
}

.tippy-tooltip {
  font-size: 1.5rem;
  padding: 0.3rem 0.6rem;
  font-family: "Roboto";
}

#accueil_ui-mode_emploi img {
  width: 100%; 
  height: auto
}

.skin-blue .main-header .navbar .nav > li > a:hover {
  color: #fbca00;
}
